<div class="about-main">
    <div class="about-header">
        <img src="http://7xp1k3.com1.z0.glb.clouddn.com/156_1.jpg" alt="photo">
    </div>
    <div class="about-body">
        <h3 class="about-title"><%- theme.header.aboutHeader %></h3>
        <p><%- theme.chat%></p>
        <div class="about-show">
            <h3 class="about-title"><%- theme.header.aboutInformation%></h3>
            <ul class="List">
               <% for (var i in theme.subnav){ %>
                   <li>
                       <%=i %>:
                           <a href="<%=theme.subnav[i] %>">
                               <%=theme.subnav[i] %>
                           </a>
                   </li>
                   <% } %>
           </ul>
           <h3 class="about-title"><%- theme.header.aboutFriendlink %></h3>
           <ul class="List">
            <% for (var i in theme.friendlink){ %>
                <li>
                    <a href="<%=theme.friendlink[i] %>">
                        <%=i %>
                    </a>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
</div>
